@{
    ViewBag.Title = "Movies";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
}
@{
    // var currPage = Convert.ToInt32(Context.Request.Query["page"].FirstOrDefault());
    // var prevPage = currPage == 1 ? 1 : currPage - 1;
    // var totalPages = Convert.ToInt32(ViewData["totalPages"]);
    // var nextPage = currPage == totalPages ? totalPages : currPage + 1;
    // var genre = Convert.ToString(Context.Request.Query["genre"].FirstOrDefault());

    // var currPage = Convert.ToInt32(ViewContext.RouteData.Values["page"] ?? "1");
    // var prevPage = currPage == 1 ? 1 : currPage - 1;
    // var totalPages = Convert.ToInt32(ViewData["totalPages"]);
    // var nextPage = currPage == totalPages ? totalPages : currPage + 1;
    // var genre = Convert.ToString(ViewContext.RouteData.Values["genre"] ?? "all");
}
@model ProductListModel<Movie>


<div class="col-2 border-2">
    <ul class="nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                role="button"
                aria-expanded="false">
                @ViewData["currentGenre"]
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                        asp-controller="Movie"
                        asp-route-genre="all"
                        asp-route-page="1">Все</a>
                </li>
                @foreach(var category in (List<Genre>)ViewData["genres"])
                {
                    <li>
                        <a class="dropdown-item"
                            asp-controller="Movie"
                            asp-route-genre="@category.NormalizedName"
                            asp-route-page="1">
                            @category.Name
                        </a>
                    </li>
                }
            </ul>
        </li>

    </ul>

</div>

<partial name="_MovieListPartial" />
@* <div id="movieListContainer">
    
    <Pager current-page="@(currPage)"
           total-pages="@(totalPages)"
           genre="@(genre)" />
</div> *@


@* <div>
    <div class="row">
    @foreach (var item in Model.Items)
    {

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body d-flex" style="height:fit-content">
                    <div>
                        <img src="@item.ImagePath" alt="No Image" style="max-height: 250px; max-width: 200px; margin-right: 15px; margin-bottom: 15px" />
                        <a asp-controller="Cart" asp-action="Add" 
                         asp-route-id="@item.Id"
                         asp-route-returnUrl="@returnUrl"
                         class="btn btn-primary" style="max-width: 160px;">Добавить в корзину</a>
                    </div>
                    <div>
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                </div>
            </div>
        </div>
    
    }
    </div>
    <Pager current-page="@(currPage)"
           total-pages="@(totalPages)"
           genre="@(genre)" />
</div> *@



@* <nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item" @(currPage == 1 ? "disabled": "")>
            <a class="page-link" aria-label="Previous" asp-route-genre="@(Context.Request.Query["genre"])" asp-route-page="@(prevPage)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @{
            for(int i = 0; i < totalPages; i++)
            {
                <li class="page-item @(currPage == i + 1 ? "active" : "")" aria-current="page">
                    <a class="page-link" asp-route-genre="@(Context.Request.Query["genre"])" asp-route-page="@(i + 1)">@(i + 1)</a>
                </li>
            }
        }
        <li class="page-item" @(currPage == totalPages ? "disabled": "")>
            <a class="page-link" aria-label="Next" asp-route-genre="@(Context.Request.Query["genre"])" asp-route-page="@(nextPage)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav> *@
